$primary: #FF4477;
$secondary: #002584;
$success: #50A773;
$warning: #E7A74E;
$dark-primary: #F02A60;
$border-color: #CDCDCD;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');