@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

$primary: #FF4477;
$secondary: #002584;
$success: #50A773;
$warning: #E7A74E;
$dark-primary: #F02A60;
$border-color: #CDCDCD;