@import '../../theme.scss';

button {
  height: 42px;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;

  &.primary{
    background-color: $primary;
    color: #fff;
    border: none;

    &:hover {
      background-color: darken($primary, 2%);
    }
  }

  &.secondary {
    background-color: #fff;
    color: $primary;
    border-radius: 50px;
    border: 2px solid $primary;

    &:hover {
      text-decoration: underline;
    }
  }
}
