@import '../../theme.scss';

input {
  background: #E8E8E8;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border: none;
  color: #002584;
  font-weight: 600;
}
