<div class="ratingCard">
  <div class="header">
    <div class="label">
      {{name}}
    </div>
    <div class="label">
      {{date}}
    </div>
  </div>

  <div class="ratingContainer">
    <span class="rate">{{rate}}</span>
    <img class="img" src="../../assets/star.png">
    <img class="img" src="../../assets/star.png">
    <img class="img" src="../../assets/star.png">
    <img class="img" src="../../assets/star.png">
    <img class="img" src="../../assets/star.png">
  </div>

  <div class="label">
    {{comment}}
  </div>
</div>

