@import '../../theme.scss';

.me {
  .page {
    display: flex;
    justify-content: space-between;
    height: 90vh;
    align-items: center;
    .image {
        max-height: 35vh;
      margin: auto;
      border: solid 10px #FF4477;
    }
    .menu {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .login-form {
        font-family: "Roboto" !important;
        font-weight: 600;
        color: #002584;
        font-size: 14px;
      }
      .button {
        text-align: center;
        Button {
          margin: auto;
        }
      }
      div {
        margin-bottom: 5px;
      }
    }

    .circle1 {
      opacity: 24%;
      background: #FF4477;
      border-radius: 50%;
      position: absolute;
      width: 280px;
      height: 280px;
      left: 19px;
      top: 260px;
      z-index: -99;
    }

    .circle2 {
      opacity: 40%;
      background: #E5E5E5;
      border-radius: 50%;
      position: absolute;
      width: 280px;
      height: 280px;
      left: 54px;
      top: 334px;
      z-index: -99;
    }

    .circle3 {
      opacity: 40%;
      background: #E5E5E5;
      border-radius: 50%;
      position: absolute;
      width: 128px;
      height: 128px;
      left: 487px;
      top: 157px;
      z-index: -99;
    }

    .circle4 {
      opacity: 40%;
      background: #E5E5E5;
      border-radius: 50%;
      position: absolute;
      width: 52px;
      height: 52px;
      left: 876px;
      top: 463px;
      z-index: -99;
    }

    .circle5 {
      opacity: 24%;
      background: #FF4477;
      border-radius: 50%;
      position: absolute;
      width: 280px;
      height: 280px;
      left: 929px;
      top: 58px;
      z-index: -99;
    }
  }

  .bgContainer {
    background-color: $bg-color;
    padding: 16px;
    border: 1px solid $border-color;
    border-radius: 2px;
    padding-top: 0;

    .addressFieldSetPartOne{
      display: flex;
    }

    .addressFieldSetPartTwo{
      display: flex;
    }

  }

  .header {
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    //padding: 12px 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    .title-header{
        margin: auto;
        cursor: pointer;
    }
    .arrow-pointer {
        width: 10px;
        height: 50px;
        background: #fff;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          left: 0; bottom: 0; width: 0; height: 0;
          border-left: 25px solid #FF4477;
          border-top: 25px solid transparent;
          border-bottom: 25px solid transparent;
        }

        &:before {
          content: '';
          position: absolute;
          right: -25px;
          bottom: 0;
          width: 0;
          height: 0;
          border-left: 25px solid #fff;
          border-top: 25px solid transparent;
          border-bottom: 25px solid transparent;
        }
      }
  }

  .title {
    text-align: center;
    font-size: 16px;
    color: $secondary !important;
    font-weight: 600;
    text-decoration: none !important;
  }

  .form {
    margin: 40px auto;
    width: 700px;
  }

  .btnContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .list-services {
    background: #fff;
    border-radius: 6px;
    padding: 12px 12px;
    margin: 10px;
  }
}