@import '../../theme.scss';

div{
    width: fit-content;
    border-radius: 50px;
    padding: 2px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    background-color: #fff;
    color: $primary;
    border-radius: 50px;
    border: 2px solid $primary;

    &:hover {
        background-color: lighten($primary, 35%);
        color: darken($primary, 5%);
        border-color: darken($primary, 5%);
        text-decoration: underline;
    }
}
