<div @click="onClick" class="card">
  <div class="left">
    <img class="img" src="../../assets/imglist.png">
    <!-- <img class="img" :src="filename"> -->
  </div>

  <div class="separator"></div>

  <div class="right">
    <div class="category">
      {{category}}
    </div>
    <div class="name">
      {{name}}
    </div>
    <div class="ratingContainer">
      <img class="img" src="../../assets/star.png">
      <span class="starRate">{{rate}}</span>
      <label class="money">
        <span class="moneyRate">$ $</span> $ $ $
      </label>
    </div>
  </div>
</div>

